<header class="navbar-header">
	<h2>Autoscrap</h2>
	<nav>
		<a href="/createPost">Create Post</a>
		<a href="/browse">Browse</a>
		<a href="/account">Account</a>
		<a href="/about">About</a>
		<a href="/signout">Sign out</a>
	</nav>
</header>

