<html>
<head>
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<%- include('./partials/header.ejs') %>	

	<div>
		<h1>About Autoscrap</h1>
		<ul>
			<li>Autoscrap is a website designed for buying and selling car parts.</li>
			<Li>It also allows a user to post for items and parts they are looking to buy, and that other users should look out for.</Li>
			<li>We are a local startup website aiming to grow and expand into further communities.</li>
		</ul>
	</div>

	<%- include('./partials/footer.ejs') %>
</body>
</html>
