<html>
<head>
	<link rel="stylesheet" href="css/styles.css"
</head>

<body>
	<%- include('./partials/header.ejs')%>

	<div class="container mt-4">
        	<h1>Welcome, <%= username %></h1>
    	</div>

	<%- include('./partials/footer.ejs')%>
</body>
</html>
