<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Autoscrap</title>
        <style>
        body {
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .navbar {
            border-bottom: 1px solid #dee2e6;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff;
        }

        h1 {
            color: #000000;
            margin-top: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 10px;
        }

        button {
            margin-top: 20px;
            margin-right: 20px;
        }

        .container {
            padding: 20px;
        }

        .f1 {
            border-top: 1px solid;
            color: grey;
            text-align: center;
        }

        h2.f1 {
            font-size: 20px;
            color: grey;
            padding-top: 5px;
        }

        .listing-tile {
                display: flex;
                flex-wrap: wrap;
        }
        .listing-image {
                flex: 0 0 20%;
        }
        .listing-image img {
                width: 200px;
                height: 200px;
        }
        .listing-details {
                flex: 0 0 80%;
        }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/browse">
                <h2 class="header"> Autoscrap<span class="v1"></span></h2>
            </a>
            <ul class="navbar-links">
                <li class="navbar-link">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="navbar-links">
                <li class="navbar-link">
                    <a class="nav-link" href="createPost">Post</a>
                </li>
            </ul>
            <form action="/signout" method="POST">
                <button type="submit" class="btn btn-primary">Sign out</button>
            </form>
        </nav>

        <h1>Browsing...</h1>
            <ul>
                <% for (let i = 0; i < 10 && i < posts.length; i++) { %>
                    <li class="listing-tile">
                        <div class="listing-image">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/GitHub_Invertocat_Logo.svg/800px-GitHub_Invertocat_Logo.svg.png" alt="Listing Image">
                        </div>
                        <div class="listing-details">
                            <h2><%= posts[i].title %></h2>
                            <p><%= posts[i].description %></p>
                            <p>$<%= posts[i].currentBid %></p>
                        </div>
                    </li>
                <% } %>
            </ul>

        <!-- Footer Code -->
        <h2 class="f1">
            <center>
                Developement:
            </center>
        </h2>
        <h1 style="font-size: 20px; color: grey; text-align: center;">
            <u><a title="" href="https://github.com/ChicoState/Autoscrap">Autoscrap Repository</a></u>
        </h1>

    </body>
</html>


