<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoscrap</title>
    <style>
        body {
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .navbar {
            border-bottom: 1px solid #dee2e6;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff;
        }

        .navbar-links {
            list-style-type: none;
            margin: 0;
            display: flex;
        }

        .navbar-link {
            margin-right: 20px;
        }

        button {
            margin-top: 20px;
            margin-right: 20px;
        }

        .container {
            padding: 20px;
        }

        .f1 {
            border-top: 1px solid;
            color: grey;
            text-align: center;
        }

        h2.f1 {
            font-size: 20px;
            color: grey;
            padding-top: 5px;
        }
    </style>
</head>

<html>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/browse">
			<h2 class="header"> Autoscrap<span class="v1"></span></h2>
		</a>
		<ul class="navbar-links">
			<li class="navbar-link">
				<a class="nav-link" href="/about">About</a>
			</li>
		</ul>
		<ul class="navbar-links">
			<li class="navbar-link">
				<a class="nav-link" href="createPost">Post</a>
			</li>
		</ul>
		<form action="/signout" method="POST">
			<button type="submit" class="btn btn-primary">Sign out</button>
		</form>
	</nav>

	<h1>Create a post</h1>
	<form action="/createPost" method="POST">
		<label for="title">Title:</label>
		<input name="title" type="text"></input>
		<label for="description">Description:</label>
		<input name="description" type="text"></input>
		<label for="currentBid">Starting bid:</label>
		<input name="currentBid" type="text"></input>
		<button type="submit">Create post</button>
	</form>

	<!-- Footer Code -->
		<h2 class="f1">
		<center>
		Developement:
		</center>
		</h2>
		<h1 style="font-size: 20px; color: grey; text-align: center;">
			<u><a title="" href="https://github.com/ChicoState/Autoscrap">Autoscrap Repository</a></u>
		</h1>
</html>
