<html>
<head>
	<link rel="stylesheet" href="css/styles.css">
<body>
	<%- include('./partials/header.ejs')%>

	<form action="/createRequest" method="POST" enctype="multipart/form-data">
		<h1>Create Request</h1>
		<label for="title">Title:</label>
		<input name="title" type="text"></input>
		<label for="description">Description:</label>
		<input name="description" type="text"></input>
		<label for="currentBid">Starting bid:</label>
		<input name="currentBid" type="number"></input>
		<label for="tags">Tags (comma seperated):</label>	
		<input name="tags" type="text"></input>
<!--         <label for="image">Image:</label>
        <input name="image" type="file"></input> -->
		<button class="button" type="submit">Create request</button>
	</form>

	<%- include('./partials/footer.ejs')%>
</body>
</html>
