<html>
	<a href="/browse">Browse</a>
	<h1>Create a post</h1>
	<form action="/createPost" method="POST">
		<label for="title">Title:</label>
		<input name="title" type="text"></input>
		<label for="description">Description:</label>
		<input name="description" type="text"></input>
		<label for="currentBid">Starting bid:</label>
		<input name="currentBid" type="text"></input>
		<button type="submit">Create post</button>
	</form>
</html>
