<html>
<head>
	<link rel="stylesheet" href="css/styles.css">
<body>
	<%- include('./partials/header.ejs')%>

	<form action="/createPost" method="POST">
		<h1>Create Post</h1>
		<label for="title">Title:</label>
		<input name="title" type="text"></input>
		<label for="description">Description:</label>
		<input name="description" type="text"></input>
		<label for="currentBid">Starting bid:</label>
		<input name="currentBid" type="text"></input>
        <label for="image">Image:</label>
        <input name="image" type="text"></input> <!-- will be replaced with upload file from pc -->
		<button class="button" type="submit">Create post</button>
	</form>

	<%- include('./partials/footer.ejs')%>
</body>
</html>
