<html>
	<h1>Sign in:</h1>
	<form action="/signin" method="POST">
		<label for="username">Username:</label>
		<input id="username" minlength="3" maxlength="32" name="username" type="text"></input>
		<label for="password">Password:</label>
		<input id="password" minlength="12" maxlength="32" name="password" type="text"></input>
		<button type="submit">Sign in</button>
	</form>

	<a href="/signup">Dont have an account? Sign up!</a>
</html>
