<html>
<head>
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<form action="/signin" method="POST">
		<h1>Sign in</h1>
		<% if (signinFailure) { %>
			<p class="error-text">Sorry, incorrect username or password. Try again.</p>
		<% } %>
		<label for="username">Username:</label>
		<input name="username" type="text"></input>
		<label for="password">Password:</label>
		<input name="password" type="text"></input>
		<button class="button" type="submit">Sign in</button>
		<a class=button href='/signup'>Don't have an account? Sign up!</a>
	</form>
</body>

</html>
