<html>
	<h1>Sign up:</h1>
	<form action="/signup" method="POST">
		<label for="username">Username:</label>
		<input id="username" minlength="3" maxlength="32" name="username" type="text"></input>
		<label for="password">Password:</label>
		<input id="password" minlength="12" maxlength="32" name="password" type="text"></input>
		<button type="submit">Sign up</button>
	</form>

	<a href="/signin">Already have an account? Sign in!</a>
</html>
