<html>
<head>
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<form action="/signup" method="POST">
		<h1>Sign up</h1>
		<% if (signupFailure) { %>
			<p class="error-text">Sorry, that username already exists.</p>
		<% } %>
		<label for="username">Username:</label>
		<input name="username" type="text"></input>
		<label for="password">Password:</label>
		<input name="password" type="text"></input>
		<button class="button" type="submit">Sign up</button>
		<a class="button" href="/signin">Already have an account? Sign in!</a>
	</form>

</body>

</html>
